* {
    word-wrap: break-word;
}
pre code {
    white-space: break-spaces;
}
footer {
    display: none;
}
#blog .Article {
    padding: 0 !important;
}


#blog pre {
    margin: 0 !important;
    padding: 0 !important;
}
